.caja-desktop-window,
.caja-desktop:not(:selected):not(:active):not(.rubberband){
	background-color: transparent;
}

/* desktop mode */
.caja-desktop.caja-canvas-item {
    color: #ffffff;
    text-shadow: 1px 1px alpha (#000000, 0.8);
}
